/*STYLING FOR ALL PAGES*/
body{
	font-family: "Poppins";
}

h1 {
	font-size: 25px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

h4 {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #848484;
}


h5 {
	font-size: 17px;
	font-style: italic;
	color:#848484;
}

h6 {
	text-align: center;
	padding-bottom: 1rem;
	color: #848484;
}

p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #656565;
	line-height: 30px;
}

ul {
	padding-left: 0;
}

li {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	color: #656565;
}

/*TITLE STYLING*/
.stakeholders {
	color:#6fc4b0;
	text-align: center;
}


.maintitle {
	font-size: 20px;
	color:#6fc4b0;
	font-weight: 700;
}

.maintitle_red {
	color:#D81F28;
	font-weight: 700;
	text-align: center;	
}

.maintitle_green {
	color: #3AB449;
	font-weight: 700;
	text-align: center;	
}

/*PARAGRAPH STYLING*/
.p_center {
	text-align: center;
}

.container{
	align-items: center;
}

/*INTRO STYLING*/
.intro {
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
}

.intro-img {
	width: 40%;
}

.intro-img #tshape {
	max-width: 320px;
	height:auto;
}

.intro-text {
	font-size: 18px;
}

.intro .row .col{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/* ON AND OFF HOVER */
.special_underline {
	color:#6fc4b0;
}

.special_underline:hover {
	text-decoration: none;
	color: #6fc4b0;
	position: relative;
}

/* UNDERLINE */
.special_underline:after {
  content: '';
  position: absolute;
  margin-bottom: -3px;
  border-bottom: 2px solid #6fc4b0;
  bottom: 0;
  left: 0;
  width: 0%;
}

/* ANIMATE UNDERLINE */
.special_underline:hover:after {
  width: 100%;
  transition: 1s;
}

/* ANIMATE ARROW*/
.arrow i{
	color:black;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

/* NAVBAR STYLING */
.navbar {
	margin-top: 1rem;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.navbar .navbar-toggler {
	background: none;
	border: none;
}

.navbar .nav-item {
	padding: 0px 10px;
}

.navbar .nav-item-stick-right {
	padding-right: 0 !important;
}

.navbar a{
	color:black;
	padding-left: 0%;
}

.nav-link {
	font-family: "Poppins";
	font-size: 15px;
}

/* PROJECTS ON HOME PAGE*/

.project .img-container {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.homespacing {
	padding-bottom: 10%;
}

.project .text-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

a.project {
	color: black;
}

a.project:hover {
	text-decoration: none;
	color: #6fc4b0;
}

#projecttitle{
	font-weight: 700;
}

#projectlabel {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #6E6E6E;
}

#projecttag {
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	font-size:15px;
	color: #6E6E6E;
	text-align: left;
}

.proj_content {
	padding-right: 10%;
	padding-left: 10%;
}

/* FOOTER */
.footer {
	align-items: center;
	text-align: center;
	padding-top: 2rem;
}

#footer_txt {
  font-size: 12px;
  font-weight: 200;
  align-items: center;
}

.footer-icons p {
	text-align: center;
}

.footer-icons i {
	padding: 12px 12px 0px 12px;
	color: #6fc4b0;
}

.footer-icons i:hover{
	color:black;
}

#next {
	float: right;
}

/*PROJECT CONTENT STYLING*/
.projectintro .img-container {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.projectintro .img-container img {
	height: 100%;
	width: auto;
}

.projectintro .text-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

a.projectintro {
	color: black;
}

/* CHALLENGE TITLE*/
.head_h3 {
	font-weight: 700;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0 !important;
}

/* PARAGRAPH SPACING*/
.project_p{
	padding-top: 1rem;
	padding-left: 10%;
}

/* DIFFERENT SECTIONS */
.projcontainer {
	background-color: #F5F5F5;
}

.projdetail {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.proj_challenge{
	margin-top: 2rem;
	position: relative;
}

.background {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 7%;
}

/* PRESENTING SOLUTION*/
.solution {
	margin-top: 4rem;
	margin-bottom: 4rem;
}



/*Research Section*/
.lefttitle {
	text-align: left;
	padding-left: 1rem;
	font-weight: 700;
}

.quotes {
	text-align: left;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
	color: #6FC4B0;
}

.insight {
	border-style: solid;
	border-color: white;
	padding: 1rem;
	text-align: left;
}

.bignum {
	font-size: 35px;
	font-weight: 700;
	color: #6fc4b0;
}

.research {
	background-color: #F5F5F5;
	margin-top: 4rem;
}

.researchdiv {
	padding-top: 4rem;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 4rem;
}

.research .researchdiv .row .col-sm.col-with-text {
	display: flex;
	align-items: center;
}

/* PADDING FOR ALL PAGES*/
.spacing {
	padding-top: 4rem;
}

.between_spacing {
	padding-top: 2rem;
}

.narrow {
	padding-left: 15%;
	padding-right: 15%;
}

/* OPPORTUNITIES IMG*/

.img_opportunities {
	padding-top: 2rem;
}

/* CENTERING*/
.centerpart-container {
	display: flex;
	justify-content: space-around;
}

.centerpar {
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	font-family: "Poppins";
}

/* TITLES*/
.sstitle {
	font-style: normal;
	font-weight: 700;
	text-align: center;
	padding-top: 2rem;
	color: #848484;
}

.sstitle_left {
	font-weight: 700;
	color: #848484;
	font-style: normal;
}

.subtitle {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: italic;
	padding-bottom: 0 !important;
}

/* IMG CENTERING */
.storyboard {
	align-items: center;
}

#centerimg {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2rem;
}

.bullet {
	text-align: left;
	padding-bottom: 2rem;
	padding-right: 15%;
}

#highlight{
	border-left: 6px solid #6fc4b0;
	padding-left: 28px;
	margin-bottom: 3rem;
	font-size: 18px;
	color: #848484;
}

.aboutme .row .col-sm.col-with-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-features {
	width: 70%;
	border-radius: 16px;
	box-shadow: 2px 4px 24px rgba(0,0,0,0,10);
}

.solution .row .col-xs-12.col-with-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

#designprocess {
	width: 100%;
}

/* ANIMATE IMAGES*/
.star {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}

#top {
	margin-top: 10%;
}
/* Highlight Text & Animation*/

.highlight {
	--highlight-walker: #5AD1FF60;
 	background-image: linear-gradient(to right, transparent 50%, var(--highlight-walker) 50%);
	position: relative;
	background-origin: 0;
	background-size: 200% 100%;
	background-repeat: repeat-x;
	background-position: -100% 100%;

    animation-name: highlight;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}

.carousel-caption {
	background: rgba(0,0,0,0.50);
}

