body{
	font-family: "Poppins";
/*	margin-left: 8%;
	margin-right: 8%;*/
}

h3 {
	font-size: 15px;
	font-weight: 700;
}

h4 {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}


h5 {
	font-size: 14px;
	font-style: italic;
}

h6 {
	text-align: center;
	padding-bottom: 1rem;
}

p {
	font-size: 14px;
	font-family: "Raleway" !important;
}

.p_center {
	text-align: center;
}

.container{
	align-items: center;
}

/*intro styling*/

.intro {
	margin-top: 3rem;
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
}

.intro-img {
	width: 40%;
}

.intro-img #tshape {
	max-width: 320px;
	height:auto;
}

.intro-text {
	font-size: 18px;
/*	font-weight: 700;
*/}

.special_underline {
	color:#F7941D;
}

.special_underline:hover {
	text-decoration: none;
	color: #F7941D;
	position: relative;
}

/* style underline */
.special_underline:after {
  content: '';
  position: absolute;
  margin-bottom: -3px;
  border-bottom: 2px solid #F7941D;
  bottom: 0;
  left: 0;
  width: 0%;
}

/* animate underline */
.special_underline:hover:after {
  width: 100%;
  transition: 1s;
}

.arrow i{
	color:black;
}

/*NAVBAR*/

.navbar {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/*.navbar:hover {
	color:#F7941D !important;
}*/
.navbar .navbar-toggler {
	background: none;
	border: none;
}

.navbar .nav-item {
	padding: 0px 10px;
}

.navbar .nav-item-stick-right {
	padding-right: 0 !important;
}

.navbar a{
	color:black;
	padding-left: 0%;
}

.nav-link {
	font-family: "Poppins";
	font-size: 15px;
}

/*PROJECTS*/

.project .img-container {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.project .img-container img {
	height: 100%;
	width: auto;
}

.project .text-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

a.project {
	color: black;
}

a.project:hover {
	text-decoration: none;
	color: #F7941D;
}

#projecttitle{
	font-weight: 700;
}
#projectlabel {
	font-family: "Raleway" !important;
	font-size: 20px;
	width: 30rem;
}

#projecttag {
	font-family: "Raleway" !important;
	font-style:italic;
	font-size:15px;
	color:#656565;
	padding-top: .3rem;
	text-align: left;
}

/* FOOTER */
.footer {
	align-items: center;
	text-align: center;
}

#footer_txt {
  font-size: 12px;
  font-weight: 200;
  align-items: center;
}

.footer-icons p {
	text-align: center;
}

.footer-icons i {
	padding: 12px 12px 0px 12px;
	color: #F7941D;
}

.footer-icons i:hover{
	color:black;
}

#next {
	float: right;
}

/*PROJECT PAGES*/

.projectintro .img-container {
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.projectintro .img-container img {
	height: 100%;
	width: auto;
}

.projectintro .text-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

a.projectintro {
	color: black;
}

/*Projects Styling
*/

.head_h3 {
	font-weight: 700;
	font-size:20px;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0 !important;
}

.project_p{
	text-align: left;
	padding-top: 1rem;
}

.projcontainer {
	background-color: #F5F5F5;
}

.projdetail {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1rem;
}

.proj_challenge{
	margin-top: 2rem;
	position: relative;
	text-align: center;

}

.background {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
}

/*.solution a{
	display: inline-block;
}*/

.text {
	padding: 0px !important;
}

.solution {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

li {
	font-family: "Raleway" !important;
	font-size: 14px;
	line-height: 2;
}

/*Research Section*/
.lefttitle {
	text-align: left;
	padding-left: 1rem;
	font-weight: 700;
}

.quotes {
	text-align: left;
	font-style: italic;
	font-family: "Raleway" !important;
}

.insightsection{
	padding-top: 4rem;
}

.insight {
	border-style: solid;
	border-color: white;
	padding: 1rem;
	text-align: left;
}

.bignum {
	font-size: 35px;
	font-weight: 700;
	color: #FCC676;
}

.research {
	background-color: #F5F5F5;
}

.researchdiv {
	padding-top: 1rem;
	padding-left: 15%;
	padding-right: 15%;
}

.research .researchdiv .row .col-sm.col-with-text {
	display: flex;
	align-items: center;
}

.surveyresults {
	padding-top: 4rem;
}

.setfactors {
	padding-top: 4rem;
}

.opportunities {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.img_opportunities {
	padding-top: 2rem;
}

.centerpart-container {
	display: flex;
	justify-content: space-around;
}

.centerpar {
	font-size: 18px;
	text-align: center;
}

.sstitle {
	font-style: normal;
	font-weight: 700;
	text-align: center;
	padding-top: 2rem;
}

.subtitle {
	font-size: 15px;
	font-family: "Raleway";
	font-weight: 700;
	font-style: italic;
	padding-bottom: 0 !important;
}

.storyboard {
	align-items: center;
}

#centerimg {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.takeaways {
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.bullet {
	text-align: left;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 10%;
	padding-right: 10%;
}
